.App__menu{
    position: absolute;
    background-color: var(--lightGray);
    height: 100%;
    width: 220px;
    padding-top: 50px;
    
}

.App__menu ul {
    padding-left: 0px;
    list-style: none;
    margin: 0;
}

.App__menu__item {
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App__menu__item:hover{
    background-color: #fff;
    color: var(--blue);
}

.App__menu__item--selected{
    border-left: 10px solid var(--blue);
    background-color: #fff;
    color: var(--blue);
}

.App__menu--open {
    display: block;
    z-index: 1;
}

.App__menu--close {
    display: none;
}

.App__menu__avatar {
    width: 120px;
    height: 120px;
    border: 1px solid #ae4589;
    border-radius: 50%;
    background-image: url('../assets/images/avatar.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.App__menu__avatarContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: center;
}

.App__menu__avatarContainer p{
    margin: 0;
}

.App__menu__avatarContainer h2{
    margin-bottom: 8px;
}
