@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root{
  --blue: #2F29C4;
  --lightGray: #F2F3F7;
  --focusGray: #898989;
  --white: #fff;
  --grey: #ccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 16px;
}

body, html {
  height: 100%;
}

#root{
  height: 100%;
}

h3,h5{
  margin: 0;
}

h3{
  color: var(--blue);
}